.wrapper__side-bar
  .wrapper__side-bar__side-header
    .wrapper__side-bar__side-header__box
      .wrapper__side-bar__side-header__box__user masa
      .wrapper__side-bar__side-header__box__icon-box
        = link_to edit_user_path(current_user), class: "wrapper__side-bar__side-header__box__icon-box__edit" do
          = icon('fa', 'cog',)
        = link_to new_group_path, class: "wrapper__side-bar__side-header__box__icon-box__edit" do
          = icon('fa', 'edit')
  
  .wrapper__side-bar__group-list
    .wrapper__side-bar__group-list__groups
      .wrapper__side-bar__group-list__groups__group-name
        -current_user.groups.each do |group|
          .group 
          = link_to '#' do
            .group__name
              = group.name
            .wrapper__side-bar__group-list__groups__group-message
        まだメッセージがありません