.wrapper__side-bar
  .wrapper__side-bar__side-header
    .wrapper__side-bar__side-header__box
      .wrapper__side-bar__side-header__box__user 
        =current_user.name
      .wrapper__side-bar__side-header__box__icon-box
        = link_to edit_user_path(current_user), class: "wrapper__side-bar__side-header__box__icon-box__edit" do
          = icon('fa', 'cog',)
        = link_to new_group_path, class: "wrapper__side-bar__side-header__box__icon-box__edit" do
          = icon('fa', 'edit')
  
  .wrapper__side-bar__group-list
    - current_user.groups.each do |group|
      .wrapper__side-bar__group-list__groups
        = link_to group_messages_path(group) do
          .group-name
            = group.name
          .group-message
            = group.show_last_message
